Mars/*
!Mars/src
.metadata
.recommenders
report/intercalar.log
report/intercalar.toc
report/final.aux
report/final.log
report/final.toc
report/final.synctex.gz
report/final.out
report/.final.lb
report/final.fdb_latexmk
report/final.fls
